<header id="header">
  <div class="container-md">
  <div class="row">
          <div id="logo" class="col-5 col-lg-2">
              <img src="/assets/images/logo-cimr.png" alt="" srcset="">
          </div>
          <div id="slogan" class="col-7 col-lg-4">
            <h3>RETRAITE BIEN PRÉPARÉE,</h3>
            <h3>AVENIR ASSURÉ</h3>
          </div>
          <div id="menu-toggle" class="col-12 col-lg-0" >
            <span class="menu-mobile-open-btn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
          <div id="menu" class="col" style="min-height: 100px;">
              <div class="row justify-content-end d-none d-sm-flex">
                  <div class="cta-area col col-md-6 d-flex p-2">
                      <div class="header-cta">
                          <button class="btn btn-primary m-1">
                              CTA 1
                          </button>
                          <button class="btn btn-secondary m-1">
                              CTA 2
                          </button>
                      </div>
                      <div class="second-logo">
                          <img src="/assets/images/70_ans_CIMR.png" alt="" srcset="" style="max-height: 70px;" class="m-2">
                      </div>
                  </div>
              </div>
              <div class="row d-none d-sm-flex">
                  <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarNavDropdown">
                          <ul class="navbar-nav d">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/">
                                <i class="fas fa-home"></i>
                                Accueil
                              </a>
                            </li>

                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                Particuliers
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Lien 1</a></li>
                                <li><a class="dropdown-item" href="#">Lien 2</a></li>
                                <li><a class="dropdown-item" href="#">Lien 3</a></li>
                              </ul>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-users"></i>
                                Entreprises
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Lien 1</a></li>
                                <li><a class="dropdown-item" href="#">Lien 2</a></li>
                                <li><a class="dropdown-item" href="#">Lien 3</a></li>
                              </ul>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <i class="fas fa-envelope"></i>
                                Contact
                              </a>
                            </li>
                          </ul>
                        </div>
                    </nav>
              </div>
          </div>

          <div id="myNav" class="overlay">
            <div class="row menu-mobile-header" style="background-color: #ededed">
              <div class="col" style="padding: 27px;padding-top: 15px;">
                <img src="/assets/images/logo-cimr.png" alt="" srcset="" style="height: 100px;">

              </div>
              <div class="col" style="padding: 15px;">

                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              </div>
            </div>
            <div class="overlay-content">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Particuliers</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">---</a></li>
                    <li><a class="dropdown-item" href="#">---</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Entreprises</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">---</a></li>
                    <li><a class="dropdown-item" href="#">---</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>

              </ul>
            </div>
          </div>

      </div>
  </div>
</header>