
  <div id="top-bar" class="d-flex" style="height: 50px; width: 100%; background-color: #4b4b4b;">
    <div class="logo p-2">
        <img src="/assets/images/logo-cimr_sc_withouttext.png" style="width: 50px;" alt="" srcset="">
    </div>
    <div class="user-menu p-2 d-flex ">
      <div class="menu-icon">
          <a><i class="fas fa-bars"></i></a>
      </div>
      <div class="avatar">
        <img src="/assets/images/user.jpg" style="width: 50px;" alt="" srcset="">
      </div>
    </div>
    <div class="user-menu-dropdown">
      <ul>
        <li><a ><i class="fas fa-user"></i> Mon compte</a></li>
        <li><a (click)="deconnecter()"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
      </ul>
    </div>
  </div>