<section id="content" class="d-flex">
	<app-menu></app-menu>
	<div id="content" class="content p-3">
    	<h4 class="title">Demande d'adhésion {{raisonSociale}}</h4>
        <div class="row">
        	<div class="col-12 col-md-6">
				<div class="accordion detail" id="accordionDetail1">
      				<div class="accordion-item">
        				<h2 class="accordion-header" id="heading1">
          					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            					Registre de Commerce
          					</button>
        				</h2>
        				<div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionDetail1">
          					<div class="accordion-body">
                        		<div class="row p-2 mt-3">
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">N° RC</label>
                                		<input type="text" class="form-control" [(ngModel)]="numRC" placeholder="" aria-label="" disabled>
                            		</div>
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">Raison sociale</label>
                                			<input type="text" class="form-control" [(ngModel)]="raisonSociale" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
                        		<div class="row p-2 mt-3">
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">Addresse</label>
                                		<input type="text" class="form-control" [(ngModel)]="adresse" placeholder="" aria-label="" disabled>
                            		</div>
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">Forme juridique</label>
                                		<input type="text" class="form-control" [(ngModel)]="formeJuridique" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
				</div></div></div></div>
			</div>
            <div class="col-12 col-md-6">
				<div class="accordion detail" id="accordionDetail2">
      				<div class="accordion-item">
        				<h2 class="accordion-header" id="heading2">
          					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            					Identifiant Commun de l'Entreprise
          					</button>
        				</h2>
        				<div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionDetail2">
          					<div class="accordion-body">
                        		<div class="row p-2 mt-3">
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">N° ICE</label>
                                		<input type="text" class="form-control" [(ngModel)]="ice" placeholder="" aria-label="" disabled>
                            		</div>
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">N° IF</label>
                               			<input type="text" class="form-control" [(ngModel)]="ifu" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
                        		<div class="row p-2 mt-3">
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">N° CNSS</label>
                                		<input type="text" class="form-control" [(ngModel)]="cnss" placeholder="" aria-label="" disabled>
                            		</div>
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">N° TAXE</label>
                                		<input type="text" class="form-control" [(ngModel)]="numTaxe" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
					</div></div></div></div>
				</div>
				<div><BR></div>
				<div class="col-12 col-md-6">
					<div class="accordion detail" id="accordionDetail3">
      					<div class="accordion-item">
        					<h2 class="accordion-header" id="heading3">
          						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            						Informations mandataire
          						</button>
        					</h2>
        					<div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionDetail3">
          						<div class="accordion-body">
                        			<div class="row p-2 mt-3">
                            			<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">Nom</label>
                                			<input type="text" class="form-control" [(ngModel)]="nomMandataire" placeholder="" aria-label="" disabled>
                            			</div>
										<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">Pr&eacute;nom</label>
                                			<input type="text" class="form-control" [(ngModel)]="prenomMandataire" placeholder="" aria-label="" disabled>
                            			</div>
                        			</div>
                        		<div class="row p-2 mt-3">
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">CIN</label>
                                		<input type="text" class="form-control" [(ngModel)]="cinMandataire" placeholder="" aria-label="" disabled>
                            		</div>
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">Fonction</label>
                                		<input type="text" class="form-control" [(ngModel)]="fonctMandataire" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
                        		<div class="row p-2 mt-3">
                            		<div class="col-6">
                                		<label for="inputPassword6" class="col-form-label">T&eacute;l&eacute;phone</label>
                                		<input type="text" class="form-control" [(ngModel)]="telMandataire" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
                	</div></div></div></div>
				</div>
            	<div class="col-12 col-md-6">
					<div class="accordion detail" id="accordionDetail4">
      					<div class="accordion-item">
        					<h2 class="accordion-header" id="heading4">
          						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            						Gestionnaire du compte
          						</button>
        					</h2>
        					<div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionDetail4">
          						<div class="accordion-body">
                        			<div class="row p-2 mt-3">
                            			<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">Nom</label>
                                			<input type="text" class="form-control" [(ngModel)]="nomGestionnaire" placeholder="" aria-label="" disabled>
                            			</div>
                            			<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">Pr&eacute;nom</label>
                                			<input type="text" class="form-control" [(ngModel)]="prenomGestionnaire" placeholder="" aria-label="" disabled>
                            			</div>
                        			</div>
                        			<div class="row p-2 mt-3">
                            			<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">Adresse mail</label>
                               				<input type="text" class="form-control" [(ngModel)]="emailGestionnaire" placeholder="" aria-label="" disabled>
                            			</div>
                            			<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">Fonction</label>
                                			<input type="text" class="form-control" [(ngModel)]="fonctGestionnaire" placeholder="" aria-label="" disabled>
                            			</div>
                        			</div>
                        			<div class="row p-2 mt-3">
                            			<div class="col-6">
                                			<label for="inputPassword6" class="col-form-label">T&eacute;l&eacute;phone</label>
                                			<input type="text" class="form-control" [(ngModel)]="telGestionnaire" placeholder="" aria-label="" disabled>
                            		</div>
                        		</div>
					</div></div></div></div>
				</div>
				<div><BR></div>
				
            	<div class="col-12 col-md-6">
					<div class="accordion detail" id="accordionDetail5">
      					<div class="accordion-item">
        					<h2 class="accordion-header" id="heading5">
          						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            						Produit
          						</button>
        					</h2>
        					<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionDetail5">
          						<div class="accordion-body">
                        			<div class="col-12"> <p><strong>{{produitLibelle}} </strong></p></div>
                        			<div class="row p-2 mt-3">
                           	 			<div class="col-12 col-md-6">
                                			<label for="inputPassword6" class="col-form-label">Date effet de souscription</label>
                                			<input type="text" class="form-control" [(ngModel)]="dateEffetSouscription" placeholder="" aria-label="" disabled>
                            			</div>
                            			<div class="col-12 col-md-6">
                                			<label for="inputPassword6" class="col-form-label">Effectif</label>
                                			<input type="number" class="form-control" [(ngModel)]="effectif" placeholder="" aria-label="" disabled>
                            			</div>
                        			</div>
					</div></div></div></div>
            	</div>

            	<div class="col-12 col-md-6">
					<div class="accordion detail" id="accordionDetail6">
      					<div class="accordion-item">
        					<h2 class="accordion-header" id="heading6">
          						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            						Mode de paiement
          						</button>
        					</h2>
        					<div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionDetail6">
          						<div class="accordion-body">
                        			<div class="row p-2 mt-3">
                            			<div class="col-12"><p>Mode de paiement : <strong>{{modePaiementLibelle}} </strong></p></div>
                            			<div class="col-12 col-md-4">
                                			<label for="inputPassword6" class="col-form-label">Titulaire</label>
                                			<input type="text" class="form-control" [(ngModel)]="titulaire" placeholder="" aria-label="" disabled>
                            			</div>
                            			<div class="col-12 col-md-8">
                                			<label for="inputPassword6" class="col-form-label">RIB</label>
                                			<input type="text" class="form-control" [(ngModel)]="rib" placeholder="" aria-label="" disabled>
                            			</div>
                        			</div>
					</div></div></div></div>                       
            	</div>
				<div><BR></div>
            	<div class="col-12">
					<div class="accordion detail" id="accordionDetail7">
      					<div class="accordion-item">
        					<h2 class="accordion-header" id="heading7">
          						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
            						D&eacute;l&eacute;gataires
          						</button>
        					</h2>
        					<div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionDetail7">
          						<div class="accordion-body">            
                        			<table style="width: 100%;">
                            			<tr>
                                			<div class="row p-2 mt-3">
                                    			<div class="col-6 col-md-2">
                                        			<label for="inputPassword6" class="col-form-label">Nom</label>
                                    			</div>
                                    			<div class="col-6 col-md-2">
                                        			<label for="inputPassword6" class="col-form-label">Pr&eacute;nom</label>
                                    			</div>
                                    			<div class="col-6 col-md-2">
                                        			<label for="inputPassword6" class="col-form-label">CIN</label>
                                    			</div>
                                    			<div class="col-6 col-md-2">
                                        			<label for="inputPassword6" class="col-form-label">Fonction</label>
                                    			</div>
                                    			<div class="col-12 col-md-2">
                                        			<label for="inputPassword6" class="col-form-label">Cat&eacute;gorie d'habilitation</label>
                                    			</div>
                                			</div>
                            			</tr>
                            <tr *ngFor="let delegataire of delegataires; index as i">
                                <div class="row p-2 mt-3">
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).nom" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).prenom" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).cin" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control" [(ngModel)]="delegataires.at(i).fonction" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-12 col-md-2">
                                    	<input type="text" class="form-control" [(ngModel)]="delegataires.at(i).categorieHabilitationLibelle" placeholder="" aria-label="" disabled>
                                    </div>
                                </div>

                            </tr>
                        </table>
				</div></div></div></div>
            </div>
			<div><BR></div>
        </div>	
    
	<div class="accordion detail" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Pi&egrave;ces justificatives
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped table-hover">
              <tbody>

                <tr *ngFor="let p of listPieces">
                  <td>{{p.nom}}</td>
                  <td>{{p.statutLibelle}}</td>
                  <td>
                    <a class="btn btn-outline-dark btn-sm" (click)="telechargerPiece(p.id)">Consulter</a>
                    <!-- <a class="btn btn-outline-danger btn-sm" (click)="rejeterPiece(p.id)" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">Rejeter</a>
                    <a class="btn btn-outline-primary btn-sm" (click)="ApprouverPiece(p.id)">Approuver</a>
                    <a class="btn btn-outline-warning btn-sm" (click)="motifRejetPiece(p.id)">Motif de rejet</a> -->
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>




      <div class="row p-2 actions-area">
        <div class="col">
        	<a [routerLink]="['/listDemandesAdhesion']" class="btn btn-light"><i class="fas fa-arrow-left"></i> Retour </a>
        
          <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#refusDemande"> Rejeter la demander
            <i class="fas fa-times"></i></a>
          <a (click)="validateDemande()" class="btn btn-primary"> Valider la demande <i
              class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>




  <!-- Popups -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Veuillez saisir le motif de rejet du document </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <textarea [(ngModel)]="motifRejetDocument" class="form-control" id="exampleFormControlTextarea1"
              rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="refusDemande" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="refusDemandeLabel">Veuillez saisir le motif de refus de la demande </h5>
          <button id="closeModel" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <textarea [(ngModel)]="motifRefusDemande" class="form-control" id="exampleFormControlTextarea1"
              rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="rejectDemande()" type="button" class="btn btn-primary">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Popups -->

</section>