.btn-primary {
  color: #fff;
  background-color: #77AD1A;
  border-color: #77AD1A;
}

.btn-secondary {
  color: #fff;
  background-color: #F8B322;
  border-color: #F8B322;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
}

.table {
  font-size: 14px;
}

.table td {
  vertical-align: middle;
}

.table thead {
  background-color: #c7c7c7;
  color: #5c5c5c;
}

.content {
  margin-top: 20px;
  width: 100%;
}

.title {
  color: #77AD1A;
  font-size: 18px;
  margin-bottom: 20px;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 300px;
}

.nav-pills .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #e6e6e6;
  color: #5c5c5c;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
  color: #77AD1A;
  font-weight: bold;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  -webkit-transition: -webkit-transform .35s ease;
  transition: -webkit-transform .35s ease;
  transition: transform .35s ease;
  transition: transform .35s ease, -webkit-transform .35s ease;
  -webkit-transform-origin: .5em 50%;
          transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.actions-area .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.actions-area .col .btn {
  margin-left: 10px;
}

.logo {
  width: 355px;
  text-align: center;
}

.avatar img {
  width: 100% !important;
  height: 100% !important;
}

.avatar {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.user-menu::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 25px;
  width: 0;
  height: 0;
  border-left: 4px solid #0000;
  border-right: 4px solid #0000;
  border-top: 4px solid #fff;
  clear: both;
}

.user-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-menu .menu-icon a {
  color: #fff;
}

fieldset {
  background-color: #f5f5f5;
  padding: 15px;
  border-left: 2px solid #77AD1A;
}

fieldset legend {
  color: #77AD1A;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.accordion.detail .accordion-button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion.detail .accordion-item {
  background-color: #f5f5f5;
  border: none;
  border-left: 2px solid #77AD1A;
  border-radius: 0;
}

.login-box-wrapper {
  padding-top: 80px;
}

.login-box-wrapper .login-box {
  background-color: #fafafa;
  min-height: 400px;
  padding: 25px;
  border: solid 1px #77AD1A;
}

.login-box-wrapper .login-box .login-logo {
  text-align: center;
}

.login-box-wrapper .login-box .login-logo img {
  width: 150px;
}

.login-box-wrapper .login-box .login-form {
  max-width: 350px;
  text-align: center;
  margin: auto;
  padding-top: 60px;
}

.form-control {
  padding: 0.8rem 0.75rem;
}

.table .btn {
  margin-right: 5px;
}

a {
  color: #77AD1A;
}

.user-menu-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.user-menu-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu-dropdown ul li {
  padding: 10px;
}

.user-menu-dropdown ul li a {
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
}

.user-menu-dropdown ul li:hover {
  cursor: pointer;
  color: #77AD1A;
}

.user-menu-dropdown ul li i {
  margin-right: 15px;
}

.user-menu-dropdown.show {
  display: block;
}
/*# sourceMappingURL=styles.css.map */