

<section id="content">
  <!-- sidebar -->
  <div class="row login-box-wrapper" >
    <div class="col-10 col-md-4 m-auto login-box" >
      <div class="login-logo" >
        <img src="/assets/images/logo-cimr.png" alt="" srcset="">

      </div>
      <div class="login-form" >
        <!-- <form> -->
          <div class="mb-3">
            <input type="email" [(ngModel)]="log" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="password" [(ngModel)]="pass" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
          </div>
          <div class="mb-3">
              <re-captcha (resolved)="resolved($event)" siteKey="6Ld1-fceAAAAAFUgr-RhTOMXCShIXzqbq64vjw1E"></re-captcha>
             
            </div>
          <div class="d-grid gap-2 mt-4">
            <button *ngIf="captchaOk" (click)="login($event)" class="btn btn-primary btn-lg" type="button">Connexion</button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</section>