<section id="footer" >
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-lg-2">
                <div id="logo" class="col-12" style="min-height: 120px; background-color: rgba(150, 194, 177, 0);padding: 10px;">
                    <img src="/assets/images/logo-cimr_sc_withouttext.png" alt="" srcset="" style="max-height: 70px;">
                    <p>© 2022 CIMR</p>
                    <p>Tous droits réservés</p>
                </div>
            </div>
            <div class="col-12 col-md-8 links">
                <div class="row">
                    <div class="col-12">
                        <div class="row links">
                            <div class="col-12 col-md-6 element info">
                                <p> <i class="fas fa-info-circle"></i> Comment déposer une réclamation ?</p>
                            </div>
                            <div class="col-12 col-md-6 element info">
                                <p> <i class="fas fa-info-circle"></i> Demande d’informations</p>
                            </div>
                            <div class="col-12 col-md-12 element sc">
                                <p> Suivez-Nous sur :</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <ul class="cgu-list">
                            <li>aaaa</li>
                            <li>aaaa</li>
                            <li>aaaa</li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="cgu-list">
                    <li>Contacts</li>
                    <li>Réclamations</li>
                    <li>Plan du site</li>
                    <li>CGU</li>
                    <li>Chatbot</li>
                    <li>Mentions légales</li>
                </ul>
            </div>
        </div>
    </div>
</section>