<section id="content" class="d-flex">

  <app-menu></app-menu>

  <div id="content" class="content p-3">
    <h4 class="title">Liste des demandes d'adhésion</h4>

    <div class="accordion detail" id="accordionExample">



      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Critères de recherche
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div style="padding-top: 0;" class="accordion-body">

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="fieldset-content">
                  <div class="row p-2 mt-3">
                    <div class="col-6">
                      <label for="inputPassword6" class="col-form-label">Date de souscription du</label>
                      <input style="height: 45%;" type="date" class="form-control" placeholder="" aria-label=""
                        [(ngModel)]="dateDu">
                    </div>
                    <div class="col-6">
                      <label for="inputPassword6" class="col-form-label">Date de souscription au</label>
                      <input style="height: 45%;" type="date" class="form-control" placeholder="" aria-label=""
                        [(ngModel)]="dateAu">
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="fieldset-content">
                  <div class="row p-2 mt-3">
                    <div class="col-6">
                      <label for="inputPassword6" class="col-form-label">N° IF</label>
                      <input style="height: 45%;" type="text" class="form-control" placeholder="" aria-label=""
                        [(ngModel)]="ifu">
                    </div>
                    <div class="col-6">
                      <label for="inputPassword6" class="col-form-label">Statut</label>
                      <select class="form-select" [(ngModel)]="statut">
                        <option [value]="1">Traitement en cours</option>
                        <option [value]="2">Validation en cours</option>
                        <option [value]="3">Validée</option>
                        <option [value]="4">Rejetée</option>
                      </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row p-2 actions-area" style="justify-content: space-between;">
              <div class="col">
                  <a (click)="reset()" class="btn btn-secondary"> Réinitialiser <i class="fas fa-times"></i></a>
                  <a (click)="getListDemandes()" class="btn btn-primary"> Rechercher <i class="fas fa-search"></i></a>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>
    <br>

    <table style="max-width: 100%;" class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">N° IF</th>
          <th scope="col">Raison sociale</th>
          <th scope="col">Date soumission</th>
          <th scope="col">Statut</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of listDemandes">
          <td scope="row">{{d.numIF}}</td>
          <td>{{d.raisonSociale}}</td>
          <td>{{d.dateEffetSouscription}}</td>
          <td>{{d.statutLibelle}}</td>
          <td>
            <a style="color: #77AD1A; cursor: pointer;" (click)="details(d.id)" title="D&eacute;tail"><i class="fas fa-book"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled:page== 1}" (click)="first($event)">
        <a class="page-link" href="#" aria-label="Première">
          <span aria-hidden="true">&lsaquo; </span>
        </a>
      </li>&nbsp;
      <li class="page-item btn-primary" [ngClass]="{disabled:page ==1}" (click)="preced($event)">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo; </span>
        </a>
      </li>&nbsp;
      <li class="page-item"><button class="btn">{{page}}</button> /<button class="btn">{{pages.length}}</button></li>
      <li class="page-item " (click)="next($event)" [ngClass]="{disabled:page == pages.length}">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo; </span>
        </a>
      </li>&nbsp;
      <li class="page-item" (click)="last($event)" [ngClass]="{disabled:page == pages.length}">
        <a class="page-link  btn-primary" href="#" aria-label="der">
          <span aria-hidden="true">&rsaquo; </span>
        </a>
      </li>&nbsp;
      <li class="page-item">
        <select class="custom-select" #mySelect (change)='selectPage(mySelect.value)'>
          <option></option>
          <option class='option' *ngFor='let p of pages; let i=index'>{{i+1}}</option>
        </select>
      </li>

    </ul>
  </div>


</section>