.home {
    padding: 20px;
    background-color: white;
    background-image: url(/assets/images/pexels-fauxels-3184424.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
  }