<section class="home" id="content">
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="question">
                    <h1>VOUS N'ÊTES PAS ENCORE ADHÉRENT À LA CIMR ?</h1>
                    <h4>VOUS ÊTES ?</h4>
                    <div class="row">
                        <div class="col">
                            <div class="question-answer active">
                                <div class="img-wrapper">
                                    <img src="/assets/images/affaires-et-commerce.png" alt="" srcset="">
                                </div>
                                <h4>Personne morale</h4>

                            </div>
                        </div>
                        <div class="col">
                            <div class="question-answer">
                                <div class="img-wrapper">
                                    <img src="/assets/images/la-personne.png" alt="" srcset="">
                                </div>
                                <h4>Personne physique</h4>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary m-5" (click)="step1()">
                        Adhérez
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>