<div id="sidebar-wrapper" class="d-flex flex-column flex-shrink-0 bg-light">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a [routerLink]="['/listDemandesAdhesion']" class="nav-link link-dark active">
          <i class="fas fa-inbox"></i>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Demandes d'adhésion
      </a>
    </li>
    <li>
      <a  class="nav-link link-dark">
          <i class="fas fa-tachometer-alt"></i>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Tableau de bord
      </a>
    </li>
    <!-- Mise en commentaires pour le moment -->
    <!--
    <li>
      <a  class="nav-link link-dark">
          <i class="fas fa-exclamation-triangle"></i>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Réclamations
      </a>
    </li>
    -->
  </ul>

</div>